<a href="https://colab.research.google.com/github/Ritheavuth/Machine-Learning/blob/main/ML_Sem2_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 1: 06/22/2022

In [37]:
# Midterm Correction

# Imported packages

import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [38]:
# a. Download dataset and upload Dataset

from google.colab import files

upload = files.upload()

Saving JNJ (2).csv to JNJ (2) (1).csv

In [39]:
# b. Read Dataset

dataset = pd.read_csv('JNJ (2).csv')

dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,157.240005,157.380005,154.130005,156.500000,150.710770,11765900
1,2021-01-05,156.250000,158.759995,155.070007,158.339996,152.482697,9602300
2,2021-01-06,157.240005,160.229996,156.720001,159.830002,153.917587,8230100
3,2021-01-07,159.000000,161.029999,158.350006,160.369995,154.437607,7747200
4,2021-01-08,160.509995,161.100006,159.880005,160.039993,154.119827,8228900

In [40]:
# c. Clean Dataset

dataset.isnull().sum() / len(dataset)

# Since there are no null values, therefore the dataset is cleaned

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [41]:
# d. Fill the missing values of the dataset using the average of column "Low" from the dataset.

## Since there are no null values, there's no need for filling

# Find average of column "Low" from the dataset

dataset['Low'].sum()/len(dataset)

164.3005179003984

In [26]:
# e. Find the missing percent of each column

## Since the dataset is cleaned, therefore the missing percent of each column is 0 % .

In [42]:
# g. Build a multiple linear regression model to predict the closing price using the volume, 
#    low and high price of the dataset?

x, y = ['Volume', 'High', 'Low'], ['Close']
x = dataset[x].values.reshape(-1, len(x))
y = dataset[y].values.reshape(-1, len(y))

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)

# Build and Train Model
model = LinearRegression().fit(x_train, y_train)

y_predict = model.predict(x_test)

print(y_predict)

[[171.48988189]
 [164.66452519]
 [163.97064451]
 [163.47359908]
 [169.2843582 ]
 [163.73225477]
 [165.70469927]
 [178.41160002]
 [171.68724196]
 [163.38052577]
 [163.12630721]
 [166.88548294]
 [171.3061205 ]
 [164.56772623]
 [159.81443618]
 [169.06776737]
 [164.01090134]
 [168.54741821]
 [164.06650552]
 [161.09704163]
 [160.43663266]
 [163.63700429]
 [163.19444654]
 [173.89947175]
 [161.4938509 ]
 [157.38021073]
 [165.40752482]
 [172.2934295 ]
 [166.75319612]
 [160.42789148]
 [166.42446953]
 [173.46461996]
 [169.13364401]
 [159.93901235]
 [172.17258368]
 [164.31587719]
 [173.45169781]
 [169.19736227]
 [159.68404646]
 [173.45011069]
 [166.81903111]
 [164.71795646]
 [166.7271364 ]
 [167.51094744]
 [165.14870314]
 [165.93850916]
 [165.90676311]
 [165.06226616]
 [158.64466763]
 [160.11265763]
 [162.87026386]]

In [43]:
# h. Predict the exact closing price of anyone of the given input. Decide the input values by
#    yourself as relevant to the dataset. You should analyze the dataset before choosing the
#    input.

## Take value from x_test array

x_assumption = x_test[0]

x_assumption = x_assumption.reshape(-1, len(x_assumption))

y_predict_assumption = model.predict(x_assumption)

print(f'Predicted: {y_predict_assumption[0][0]}, Actual: {y_test[0][0]}')

if (y_predict_assumption[0][0] - y_test[0][0]) > 0:
  print("This is a positive error")
else: 
  print("This is a negative error")

Predicted: 171.48988188771855, Actual: 171.869995
This is a negative error

In [44]:
# i. Use any one of the evaluation models to justify your predicted result.

MSE = mean_squared_error(y_test, y_predict)
print(MSE)

0.4781859132909173

In [ ]:
# j. Write your reflection on this task as a conclusion? (Note: What did you understand?)

## I've come to understand how important machine learning is in our daily lives.
## Nowadays There are so many datas for us to assess and we can't keep manually updating the code
## to keep up with the fast growing pace of the data. Therefore machine learning has become a vital part of
## every industry to help keep up with the big datas that they're handling.